.project-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}
.project-photo{
    width: 350px;
    height: 150px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.project-photo-box{
    border: 8px solid;
    border-radius: 8px;
    border-image: linear-gradient(135deg,#7E57C2, #9879CE,#D8CCED );

    /* If you want to specify different borders for different sides */
    border-width: 6px;
    border-image:
    linear-gradient(135deg, #7E57C2, #9879CE,#D8CCED)   /* top border */,
    linear-gradient(135deg,#7E57C2, #9879CE,#D8CCED)   /* right border */,
    linear-gradient(135deg, #7E57C2, #9879CE,#D8CCED)   /* bottom border */,
    linear-gradient(135deg, #7E57C2, #9879CE,#D8CCED)   /* left border */;

    /* You can also specify the slice values if needed */
    border-image-slice: 1;
    /* border-image: repeating-linear-gradient(135deg,#D8CCED 0 10px,#D8CCED 0 20px,#D8CCED 0 30px) 8; */
    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
}
.project-photo-box:hover{
    --_i: 100%;
    color: #CC333F;
    transform: scale(1.2);
    transition: .3s, -webkit-mask-size .3s .3s;
}

.project-info{
    margin-right: 24px;
}

.project-title{
    font-size: 20px;
    font-weight: 600;
}

.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag {
    padding:  4px 8px;
    background-color: #D8CCED;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.project-links a {
    text-decoration: none;
    color: black;
}

.project-links{
    margin-top: 6px;
    display: flex;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E57C2;
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
}

.link-button i {
    display: flex;
    align-items: center;
    mask-repeat: 4px;
}

@media only screen and (max-width: 720px) {
    .project-photo {
        width: 325;
        height: 125;
    }
    .project-photo-box:hover{
        --_i: 100%;
        color: #CC333F;
        transform: scale(1.0);
        transition: .3s, -webkit-mask-size .3s .3s;
    }
    .project-card {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .project-tags {
        max-width: 100%;
    }
}